.DevicePage {
    display: flex;
    gap: 20px;
    margin: 25px;
    border-radius: 25px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.DevicePage .DeviceSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    height: 15%;
    width: 100%;
}

.DevicePage .DeviceSection .Column {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.DevicePage .dataField {
    display: flex;
}